:root {
  --main-color: #3A9679;
  --title-text-color: #141A1E;
  --white: #FFFFFF;
  --light-blue: #F7F9FD;
  --border-color: #A5B9D3;
  --error: #FC5F67;
  --warning: #FFAE5D;
  --success: #17D69A;

  --ebony-clay: #212934;
  --green: #4FC9A3;
  --dark-gray: #7F8FA4;
  --gray: #E6E6E6;
  --blue: #5884E8;
  --red: #E16262;
  --yellow: #FABC60;
  --black: #000000;
  --tinted-black: #1F1F1F;
}

.border-b-0 {
  border-bottom: 1px solid var(--border-color);
}

/*__sidebar__*/
.aside-nav {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--main-color);
  width: 230px;
  transition: width 0.5s;
  height: 100vh;
  z-index: 999;

  .main-list-style {
    border-bottom: 1px solid var(--border-color);
  }

  .aside-version {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;
    color: var(--light-blue);
  }

  .aside-nav-ul {

    padding: 30px 0;
  }

  .nav-link {
    padding: 0.725rem 0.625rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--main-color);
    span {
      transition: 0.3s ease-in-out;
      font-size: 17px;
      color: var(--white);
      white-space: nowrap;
      letter-spacing: 0.3px;
      font-weight: normal;
    }
    &:hover {
      span {
        transform: translateX(20px);
      }
    }
  }

  .aside-brand {
    padding: 1.15rem 1rem;
    color: #fff;
    background-color: var(--main-color);
    white-space: nowrap;
  }

  .nuxt-link-active {}
}

/*__header-navbar__*/
.header-navbar{
  .aside-toggle-btn{
      color: #293042;
      cursor: pointer;
  }
  .navbar {
    background-color: var(--main-color);
  }
  .user-dropdown{
    position: relative;
    .droopdown-menu {
      position: absolute;
      right: 0;
      top: 50px;
      margin: 0;
      padding: 0;
      .list {
        background-color: #fff;
        transition: .2s;
        &:hover {
          background-color: #293042;
          .list-btn {
            color: #fff;
          }
        }
        .list-btn {
          background-color: transparent;
          border: none;
          color: #293042;
          display: block;
          padding: 15px 40px;
        }
      }
    }
    .username {
      background-color: transparent;
      border: none;
      padding: 0.5rem 1rem;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
