:root {
  --main-color: #3A9679;
  --title-text-color: #141A1E;
  --white: #FFFFFF;
  --light-blue: #F7F9FD;
  --border-color: #A5B9D3;
  --error: #FC5F67;
  --warning: #FFAE5D;
  --success: #17D69A;
  --dark-gray: #7F8FA4;
  --red: #E16262;

  --ebony-clay: #212934;
  --green: #4FC9A3;
  --gray: #E6E6E6;
  --blue: #5884E8;
  --yellow: #FABC60;
  --black: #000000;
  --tinted-black: #1F1F1F;
}

/* Settings contain font, colors definitions, etc. */
@import "./shared";


/* Components specific UI components "header, footer, etc." */
@import "./components/TheNav";
@import "./components/TheMainCard";
@import "./components/TheAudioPlayer";

/* Pages */
@import "./pages/TheBookPage";
