.tabs {
  position: relative;
  .list-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 0.5px;
    }
    .list {
      .list-btn {
        background-color: transparent;
        color: #A0AEC0;
        padding: 8px 20px 8px 0;
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid var(--main-color);
          color: var(--main-color);
        }
      }
    }
    .is-active {
      .list-btn {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
      }
    }
  }
}

.tabs-details {
  margin-top: 15px;
  .about-text {
    background-color: var(--white);
    width: 700px;
    border-radius: 15px;
    padding: 15px;
  }
}


@media(max-width:992px){
  .tabs-details {
    .about-text {
      width: 100%;
    }
  }
}
