.audio-player {
  background-color: var(--white);
  padding: 15px;
  position: fixed;
  bottom: 0px;
  z-index: 99;
  width: 100%;
  .player-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    .player-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: fit-content;
      gap: 15px;
      img {
        border-radius: 12px;
      }
      .text {
        font-weight: 500;
        color: var(--black);
      }
    }
    .player-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      button {
        border: none;
        background-color: transparent;
      }
      .center-btn {
        border-radius: 50%;
        background-color: rgba(42, 101, 146, 0.2);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .play-btn {
        border-radius: 50%;
        background-color: var(--main-color);
        padding: 10px;
      }
    }
    .player-progress{
      width: 343px;
      user-select: none;
      position: relative;
      .player-notes {
        .list-style {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .list {
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .list-box {
              position: absolute;
              top: -35px;
              right: 15px;
              background-color: var(--white);
              color: var(--title-text-color);
              width: 150px;
              padding: 10px;
              border-radius: 5px;
              transition: all 0.3s;
              .text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
              }
            }
          }
        }
      }
      .progress-bar {
        height: 5px;
        width: 100%;
        cursor: pointer;
        background-color: var(--light-blue);
        display: inline-block;
        border-radius: 5px;
        .progress-current{
          height: inherit;
          width: 0%;
          background-color: var(--main-color);
          border-radius: 10px 0 0 10px;
          position: relative;
        }
        .progress-dot {
          width: 9px;
          height: 9px;
          background-color: var(--main-color);
          position: absolute;
          bottom: 22px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .progress-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .progress-time {
          color: var(--dark-gray);
          font-weight: normal;
          font-size: 12px;
        }
      }
    }
    .player-advanced {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      .advanced-btn {
        border-radius: 50%;
        padding: 2px;
        border: none;
        background-color: transparent;
      }
      .audio-speed-btn {
        font-weight: bold;
        font-size: 14px;
      }
      .speed-box {
        position: relative;
        .list-style {
          position: absolute;
          top: -195px;
          left: -3px;
          background-color: #fff;
          border-radius: 5px;
          text-align: center;
          .list {
            padding: 3px;
            font-weight: 500;
            color: #333;
            font-size: 14px;
            transition: 0.2s ease-in-out;
            &:hover {
              background-color: var(--main-color);
              color: #fff;
              cursor: pointer;
            }
          }
          .list.active {
            background-color: var(--main-color);
            color: #fff;
          }
        }
      }
      .volume-box {
        position: relative;
        .input-range {
          right:  -50px;
          bottom: 80px;
          position: absolute;
          transform: rotate(-90deg);
          cursor: pointer;
        }
      }
    }
  }
}

@media(max-width:992px){
  .audio-player {
    width: 100% ;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.sound-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.line1 {
  height: 40px;
  margin: 0 2px;
  width: 5px;
  background-color: var(--main-color);
  animation: dance 700ms ease-in-out infinite;
  border-radius: 15px;
}

.line1:nth-child(2) {
  animation-delay: 0.1s;
}
.line1:nth-child(3) {
  animation-delay: 0.2s;
}
.line1:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes dance {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
}
