.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .header-title {
    color: var(--black);
    font-weight: 500;
    font-size: 24px;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .right-text {
      color: var(--dark-gray);
      font-weight: 500;
      font-size: 20px;
    }
    .slider-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .button-slide {
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 50%;
        background-color: var(--main-color);
        &:disabled {
          background-color: rgba(58, 150, 121, 0.1);
          color: #fff;
          cursor: not-allowed;
          &:hover {
              box-shadow: none;
          }
        }
      }
    }
  }
}

 @media(max-width:425px){
  .section-header {
    justify-content: center;
    row-gap: 10px;
  }
}
